.App {
  text-align: center;
  margin: 2em;
}

.dark-mode {
  background-color: white;
  color: black;
}

.light-mode {
  background-color: white;
  color: black;
}

.resultContainer { 
  display: grid;
  width: 100%;
  margin: 1em;
  grid-template-areas: "content";
}

.content { 
  height: 50vh;
  grid-area: content;
}

.content.dark-mode {
  background-color: white;
  color: black;
}

.content.light-mode {
  background-color: white;
  color: black;
}

.linkInputField { 
  font-size: 16px;
  padding: 0.25em;
  width: 20em;
}

.linkInputFieldButton { 
  font-size: 16px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.linkInputField.dark-mode, .linkInputFieldButton.dark-mode {
  background-color: white;
  color: black;
}

.linkInputField.light-mode, .linkInputFieldButton.light-mode {
  background-color: white;
  color: black;
}

.modeButton {
  position: fixed;
  left: 1em;
  top: 1em;
}
